@model IMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div  class="col-md-offset-3 col-md-6 col-xs-12">
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
       
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OrgId, new { @class = "control-label" })
        @Html.DropDownList("OrgId",ViewBag.OrgOptions as IEnumerable<SelectListItem>, new { @class = "form-control" })
    </div>
    <div class="form-group">
            <input type="submit" class="btn btn-default" value="Register" />
    </div>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
