@using IMS.Models
@model NewEmailTemplateViewModel
<div class="col-md-offset-3 col-md-6 col-xs-12">
    @using (Html.BeginForm(Model.IsNew ? "New" : "Update", "TemplateManage", null, FormMethod.Post, new { @class = "form", name = "form" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.IsNew)

        <h3>Template</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.Code)
                @Html.DropDownListFor(m => m.Code, new SelectList(Model.TemplateTypeOptions, "Value", "Text"), new { @class = "form-control" })
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Title" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Content)
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", style = "height:30em;", placeholder = "Content" })<br />
                    @Html.ValidationMessageFor(m => m.Content)
                </div>
                <input type="submit" name="submit" value="Save" class="btn btn-default" />

                <div class="footer">
                    @Html.ValidationSummary(true)
                </div>
    }
</div>
<div class="clearfix"></div>