
@{
    ViewBag.Title = "Index";
}
@model IMS.ViewModels.ApplicantInfo
<h2>Registration Form</h2>

<form role="form" action="/Registration/AddApplicant" method="post">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="name" name="firstname" value="@Model.firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="name" name="lastname" value="@Model.lastname">
    </div>
    <div class="form-group">
        <label for="kiwiname">Kiwi Name:</label>
        <input type="text" class="form-control" id="kiwiname" name="kiwiname"  value="@Model.kiwiname">
        
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" value="@Model.email">
    </div>
    <div class="form-group">
        <label for="mobile">Mobile Number:</label>
        <input type="text" class="form-control" id="mobile" name="mobile" value="@Model.mobile">
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" name="address" value="@Model.address">
    </div>
    <div class="form-group">
        <label for="suburb">Suburb:</label>
        <input type="text" class="form-control" id="suburb" name="suburb" value="@Model.suburb">
    </div>
    <div class="form-group">
        <label for="visa">Visa Status:</label>
        <input type="text" class="form-control" id="visa" name="visaStatus" value="@Model.visaStatus">
    </div>
    <div class="form-group">
        <label for="medicalCondition">Medical Condition:</label>
        <input type="text" class="form-control" id="medicalCondition" name="medicalCondition" value="@Model.medicalCondition">
    </div>
    
    <button type="submit" id="submitbtn" class="btn btn-default">Submit</button>
</form>

<script>

</script>